.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.title {
    font-size: 18px;
    color: #fff;
    font-weight: bold;
}