.container {
    display: block;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.title {
    font-size: 18px;
    color: #fff;
    font-weight: bold;
}

.table {
    text-align: right;
}