.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    padding: 20px;
}

.button {
  margin-bottom: 20px;
  padding: 15px;
}